atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.10.0
colorama==0.4.4
greenlet==1.1.2
iniconfig==1.1.1
lxml==4.7.1
packaging==21.3
playwright==1.17.2
pluggy==1.0.0
py==1.11.0
pyee==8.2.2
pyparsing==3.0.6
pytest==6.2.5
PyYAML==6.0
soupsieve==2.3.1
toml==0.10.2
websockets==10.1
